:root {
    --border-radius: 3px;
    --status-1: #ff4444;
    --status-2: #FF8800;
    --status-3: #0099CC;
    --status-4: #00C851;
}

body,html {

    min-width: 620px;
    background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    background-repeat: repeat;
    font-family: sans-serif;

}

h1, .board-title, .board-column-title {
    font-weight: 100;
}
button:focus {outline:0;}

.main-header {
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
    color: #404040;
}

.nav-link {
    text-decoration: none;
    margin: 0px 15px;
    color: #404040;
    font-size: 18px;
}
.navbar-light{
    background-color: rgba(0,0,0,0.1);

}

.container-box{
    margin: 0 auto;
    width: 40%;
    background-color: rgba(255,255,255,0.7);
    padding: 30px 30px 50px 30px;
}

.user_log{

    font-weight: bold;
    font-size: 20px;
    color:#546e7a;
    margin: 5px;
}

.container-box h1{
    margin: 10px auto;
    text-align: center;
}
.clear{
    clear: left;
}
.create_board{
    background-color: #546e7a;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 20px;
    border-radius: 10px;
    outline: none;
}
.create_board:hover{
    background-color: #78909c;
    outline: none;
}
button {
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.board-container {
    max-width: 960px;
    margin: 0 auto;
}

section.board {
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header {
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title {
    margin: 13px;
    display: inline-block;
    font-size: 20px;
    outline-color: #efefef;
}

.board-title, .board-add, .board-toggle {
    display: inline-block;

}

.board-add {
    background-color: darkgoldenrod;
    font-size: 15px;
    border-radius: 15px;
    margin: 0 10px 20px 10px;
}
.board-delete {
    background-color:#ff4444;
    font-size: 15px;
    border-radius: 25px;
    margin:12px;
    padding: 5px 8px;
    float:right;

}

.board-add:hover {
    background-color: chocolate;
    transition: 0.5s;
    cursor: pointer;
}
.board-delete:hover {
    background-color: darkred;
    transition: 0.5s;
    cursor: pointer;
}


.board-toggle {
    float: right;
    margin: 13px;
    background-color: #546e7a;
}
.collapse{
    background-color: transparent;
}
.card{
    background-color: rgba(255,255,255,0.1);
    color: #404040;
    border:none;
}

.nav-item {
    margin-right: 20px;
    font-size: 18px;
}

.board_title_input{
    border: none;
    padding: 10px;
    margin-top: 3px;
    outline: none;
    vertical-align: center ;
    color: darkslategrey;
    font-size: 19px;
    width: 100px;
}

.board-columns {
    display: flex;
    flex-wrap: nowrap;
}

.board-column {
    padding: 10px;
    flex: 1;
}

.board-column-content {
    min-height: 49px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
}

.board-column-content:empty {
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title {
    text-align: center;
}

.Card {
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.board-column:nth-of-type(1) .Card {
    background: var(--status-1);
}

.board-column:nth-of-type(2) .Card {
    background: var(--status-2);
}

.board-column:nth-of-type(3) .Card {
    background: var(--status-3);
}

.board-column:nth-of-type(4) .Card {
    background: var(--status-4);
}

.card-remove {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}
.board-remove {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title {
    padding-left: 5px;
    padding-right: 10px;
}
